{% extends "base.html" %}

{% block content %}
    <h2>Detalles del Estacionamiento</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Número</th>
                <th scope="col">Tarifa for hora</th>
                <th scope="col">Propietario</th>
                <th scope="col">Contacto</th>
                <th scope="col">Lote</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ parking.number }}</td>
                <td>{{ parking.hourly_rate }}</td>
                <td>{{ parking.owner.first_name }}</td>
                <td>{{ parking.owner.phone }}</td>
                <td>{{ parking.lot }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'parkings:parking_list' %}" class="btn btn-secondary">Volver a la Lista</a>
{% endblock %}
