{% extends "base.html" %}

{% block content %}
    <h2>Detalles de la Reserva</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Solicitante</th>
                <th scope="col">Inicio</th>
                <th scope="col">Término</th>
                <th scope="col">Estacionamiento</th>
                <th scope="col">Comentario</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ reservation.user }}</td>
                <td>{{ reservation.start_datetime }}</td>
                <td>{{ reservation.end_datetime }}</td>
                <td>{{ reservation.parking.number }}</td>
                <td>{{ reservation.comment }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'reservations:list' %}" class="btn btn-secondary">Lista reservas</a>
    <a href="{% url 'parkings:parking_list' %}" class="btn btn-secondary">Lista estacionamientos</a>
{% endblock %}
