{% extends "base.html" %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7 offset-md-3">
            <div class="col-12 text-center">
                <h1>
                    Perfil de <span>{{ request.user.first_name }}</span>
                </h1>
                <p class="lead">Condominio Jorge Durand</p>
            </div>
            <div class="card">
                <div class="card-body d-flex align-items-center row">
                    {% load static %}

                    <img src="{% static 'images/user-avatar-1.svg' %}"
                         class="rounded-circle col-12 col-md-4"
                         alt="User Image"
                         width="120"
                         height="120">
                    <div class="col-12 col-md-8 text-center text-md-start">
                        <p class="card-text">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                        <p class="card-text">{{ request.user.email }}</p>
                        <p class="card-text">{{ request.user.phone }}</p>
                        <p class="card-text">RUT: {{ request.user.rut }}-{{ request.user.rut_dv }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
